/*Elements style*/
body {
    font-family: sans-serif;
    background: url(../img/background.jpg);
    background-attachment: fixed;
}


/*Classes style*/
.btn {
    line-height: 34px;
    font-size: 20px;
    transition: 0.2s;

	transform: scale(1);
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
.btn:hover{
    font-size:23px;
    opacity: 0.2;
    border-color:#fff;
    color: #fff;
    animation: none;
}
.fa-minus-circle, .fa-plus-circle{
    pointer-events: none;
}
.vertical-center{
    min-height:100vh;
    display: flex;
    align-items:center;
}

/*ID style*/
#number{
    font-size: 8rem;
}